html, body {
    width: 400px;
    margin: 0;
}

body {
    font-family: sans-serif;
}

.login {
    width: 400px;
    margin: 0 auto;
    font-size: 16px;
}

.login-header,
.login p {
    margin-top: 0;
    margin-bottom: 0;
}

.login-header {
    padding: 20px 20px 10px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #0275d8;
}

.login-container {
    padding: 12px;
}

.login p {
    padding: 12px;
}

.login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.login input {
    background: #fff;
    border-color: #bbb;
    color: #555;
}

.login input {
    border-color: #888;
}

.login input[type="submit"] {
    background: #0275d8;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

.login input[type="submit"]:focus {
    border-color: #05a;
}