[submodule "nginx"]
	path = nginx
	url = https://github.com/lesspass/nginx.git
[submodule "backend"]
	path = backend
	url = https://github.com/lesspass/api.git
[submodule "core"]
	path = core
	url = https://github.com/lesspass/core.git
[submodule "webextension"]
	path = webextension
	url = https://github.com/lesspass/webextension.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/lesspass/frontend.git
[submodule "pure"]
	path = pure
	url = https://github.com/lesspass/pure.git
[submodule "desktop"]
	path = desktop
	url = https://github.com/lesspass/desktop.git
[submodule "cozy"]
	path = cozy
	url = https://github.com/lesspass/cozy.git
