# python
__pycache__/
*.py[cod]
# javascript
node_modules
package-lock.json
default.nix
.envrc
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
dump.pgsql
restore.sh