[submodule "nginx"]
	path = nginx
	url = git@github.com:lesspass/nginx.git
[submodule "backend"]
	path = backend
	url = git@github.com:lesspass/backend.git
[submodule "core"]
	path = core
	url = git@github.com:lesspass/core.git
[submodule "webextension"]
	path = webextension
	url = git@github.com:lesspass/webextension.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:lesspass/frontend.git
[submodule "cozy"]
	path = cozy
	url = git@github.com:lesspass/cozy.git
[submodule "pure"]
	path = pure
	url = git@github.com:lesspass/pure.git
[submodule "cli"]
	path = cli
	url = git@github.com:lesspass/cli.git
[submodule "desktop"]
	path = desktop
	url = git@github.com:lesspass/desktop.git
[submodule "cordova"]
	path = cordova
	url = git@github.com:lesspass/cordova.git
[submodule "snap"]
	path = snap
	url = git@github.com:lesspass/snap.git
[submodule "move"]
	path = move
	url = git@github.com:lesspass/move.git
[submodule "openssl"]
	path = openssl
	url = git@github.com:lesspass/openssl.git
[submodule "render-password"]
	path = render-password
	url = git@github.com:lesspass/render-password.git
[submodule "mobile"]
	path = mobile
	url = git@github.com:lesspass/mobile.git
[submodule "entropy-java"]
	path = entropy-java
	url = git@github.com:lesspass/entropy-java.git
[submodule "core-ios"]
	path = core-ios
	url = git@github.com:lesspass/core-ios.git
