[submodule "nginx"]
	path = nginx
	url = git@github.com:lesspass/nginx.git
[submodule "backend"]
	path = backend
	url = git@github.com:lesspass/backend.git
[submodule "core"]
	path = core
	url = git@github.com:lesspass/core.git
[submodule "webextension"]
	path = webextension
	url = git@github.com:lesspass/webextension.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:lesspass/frontend.git
[submodule "cozy"]
	path = cozy
	url = git@github.com:lesspass/cozy.git
[submodule "pure"]
	path = pure
	url = git@github.com:lesspass/pure.git
[submodule "cli"]
	path = cli
	url = git@github.com:lesspass/cli.git
[submodule "desktop"]
	path = desktop
	url = git@github.com:lesspass/desktop.git
[submodule "cordova"]
	path = cordova
	url = git@github.com:lesspass/cordova.git
[submodule "snap"]
	path = snap
	url = git@github.com:lesspass/snap.git
[submodule "sandbox"]
	path = sandbox
	url = git@github.com:lesspass/sandbox.git
