dist: trusty
sudo: required
language: node_js
node_js:
  - 6
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - xsel
      - google-chrome-stable
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3
