* {
    border-radius: 0 !important;
}

i {
    cursor: pointer;
}

.option-block, #autoLoginButton {
    display: none;
}

#displayOptionsButton {
    cursor: pointer;
}

.card {
    border: none;
}

#fingerprint {
    display: none;
}
