@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 30rem;
}

@layer base {
  a {
    color: var(--color-blue-500);
  }
  button {
    cursor: pointer;
  }
}
