@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 30rem;
}

@layer base {
  a {
    color: var(--color-blue-500);
  }
  button {
    cursor: pointer;
  }
}

@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px theme("colors.white") inset !important;
    -webkit-text-fill-color: theme("colors.black") !important;
    transition: background-color 5000s ease-in-out 0s;
  }
  .dark input:-webkit-autofill,
  .dark input:-webkit-autofill:hover,
  .dark input:-webkit-autofill:focus,
  .dark input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px theme("colors.gray.800") inset !important;
    -webkit-text-fill-color: theme("colors.white") !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}
