body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #cfd2da;
    background-color: #252830;
}

.header {
    background: url(../images/56.png);
    /*filter: brightness(.8) blur(1px);*/
    background-size: cover;
    /*background-color: #1a1c22;*/
    background-color: #D8E4EA;
    min-height: 65vh;
    /*width: 100%;*/

    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
}

.header{
    color: #252830;
}

.headlines {
    margin-top: 10vh;
    color: #252830;
}

.headlines .title {
    font-size: 1.5rem;
}

.headlines .subtitle {
    font-size: 1.3rem;
}

.navbar {
    padding: 1.5rem 0;
}

@media (min-width: 550px) {

    .header {
        min-height: 80vh;
    }

    .headlines {
        margin-top: 10vh;
    }

    .headlines .title {
        font-size: 2.5rem;
    }
}

