Django==3.1.6
django-cors-middleware==1.5.0
djangorestframework==3.11.0
djangorestframework-simplejwt==4.6.0
djoser==2.0.3
envparse==0.2.0
gunicorn==20.0.4
psycopg2-binary==2.8.6
# tests
factory-boy==2.12.0
