
.PasswordGenerator {
    max-width: 550px;
    width: 100%;
    color: #555!important;
}

.PasswordGenerator * {
    border-radius: 0 !important;
}

.PasswordGenerator svg {
  width: 1rem;
  vertical-align: sub;
}