* {
  border-radius: 0 !important;
}

i {
  cursor: pointer;
}

.option-block, #autoLoginButton, #fingerprint, .help-block, .help-slide {
  display: none;
}

#displayOptionsButton, #displayHelpButton {
  cursor: pointer;
}

.card {
  border: none;
}

#passwordGenerator input {
  background-clip: padding-box
}

#passwordGenerator label {
  margin-bottom: .1rem;
}

#passwordGenerator svg {
  width: 1rem;
  vertical-align: sub;
}

.btn-close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  z-index: 10;
  display: block;
  padding: .25rem .5rem;
  font-size: 75%;
  color: #FFFFFF;
  cursor: pointer;
  background-color: transparent;
  border-radius: .25rem;
}

#logo {
  max-height: 42px;
}