* {
  border-radius: 0 !important;
}

i {
  cursor: pointer;
}

.option-block, #autoLoginButton, #fingerprint {
  display: none;
}

#displayOptionsButton, #displayHelpButton {
  cursor: pointer;
}

.card {
  border: none;
}

@media (min-width: 48em) {
  #passwordGenerator {
    max-width: 530px;
  }
}

#passwordGenerator input {
  background-clip: padding-box
}

#passwordGenerator label {
  margin-bottom: .1rem;
}

#passwordGenerator .btn {
  padding: 0.55rem 1rem;
  line-height: 1;
}

