* {
    border-radius: 0 !important;
}

body {
    background: #008ed6 fixed top center;
    background-size: cover;
    color: #FFFFFF;
}

a, a:hover {
    color: #FFFFFF;
}

i {
    cursor: pointer;
}

.option-block {
    display: none;
}

#passwordGenerator {
    color: #000000;
}

#displayMasterPasswordButton {
    color: #000000;
}

#displayOptionsButton {
    cursor: pointer;
}

#navbar__logo {
    height: 2em;
}

.card {
    border: none;
}

#fingerprint {
    display: none;
}

.media-object {
    width: 64px;
}
