name: lesspass-crypto-test
on:
  push:
    branches:
      - main
    paths:
      - "packages/lesspass-crypto/**"
  pull_request:
    paths:
      - "packages/lesspass-crypto/**"
jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
      - run: yarn install
      - run: yarn workspace lesspass-crypto test
